<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azhar.reportapps">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaporanMasyarakat"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"> <activity android:name=".ui.main.MainActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".view.LoginActivity"/>
        <activity android:name=".view.RegisterActivity"/>
        <activity android:name=".ui.report.ReportActivity"/>
        <activity android:name=".ui.history.HistoryActivity"/>
        <activity android:name=".ui.history.DetailActivity"/>
        <activity android:name=".ui.main.ProfileActivity" />
        <activity android:name=".ui.main.NotificationActivity" />

        <activity
            android:name=".ui.main.AboutActivity"
            android:exported="false"
            android:label="Tentang Aplikasi" />
    </application>
</manifest>